@import "tailwindcss";
@import 'tailwind-animations';

@theme {
  --color-company-background: #00595b;
  --color-company-primary: #e1c4a1;
}

body {
  height: 100vh;
  margin: 0 auto;
  color: var(--color-company-primary);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../../public/Images/background-Image.jpg);
  background-size: cover;
}