@import "tailwindcss";

@theme {
  --color-company-background: #00595b;
  --color-company-primary: #e1c4a1;
}

body {
  height: 100vh;
  margin: 0 auto;
  background: var(--color-company-background);
  color: var(--color-company-primary);
}